<div class="table-responsive">
    <div class="col-md-2 ml-5 text-align-center">
        <img src="../../../assets/img/logo-entero.jpeg" width="200">
    </div>
    <div class="col-md-3">
        <h5>La moda debe ser divertida, se trata de encontrar el estilo que te haga sentir mejor.</h5><h5> No es necesario seguir las tendencias cuando ya tienes la tuya. 
            Estaremos encantados de poder ayudarte.“</h5>
    </div>
    <div class="col-md-3">
        <div class="row">
            <p>¡DALE UN ESTILO DIFERENTE A TU ROPA ESTE AÑO CONSIGUE ESE MODELITO QUE TANTO QUIERES!</p>
        </div>
        <div class="row">
            <p>Síguenos por Instagram <a href="https://www.instagram.com/dakotamodels/" class="btn btn-lg btn-social btn-instagram"><i class="fab fa-instagram fa-3x"></i></a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <h4>Contacto</h4>
            <p>dankagoldman@gmail.com</p><br>
            <p>+56 9935 35098</p>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>

<div id="footer" class="footer">
    &copy; 2021 - {{year}} DakotaModels  moda - Chile
</div>
